  1 * {
  2   margin: 0;
  3   padding: 0;
  4   font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
  5 }
  6 
  7 .cls {
  8   clear: both;
  9 }
 10 
 11 .container {
 12   width: 780px;
 13   min-height: 10px;
 14   margin: 50px auto;
 15   /* border: 1px solid #dfdfdf; */
 16 }
 17 
 18 .comment {
 19   min-height: 60px;
 20   /* border: 1px solid red; */
 21 }
 22 
 23 .comment-avatar img {
 24   margin: 20px 0 0 20px;
 25   width: 48px;
 26   height: 48px;
 27   border-radius: 50%;
 28 }
 29 
 30 .comment-content {
 31   float: right;
 32   width: 685px;
 33   padding-top: 15px;
 34   border-top: 1px solid #dfdfdf;
 35 }
 36 
 37 .comment-bottom>.comment-content {
 38   border-bottom: 1px solid #dfdfdf;
 39 }
 40 
 41 .comment-content-name {
 42   color: #6d757a;
 43   font-size: 12px;
 44   margin-bottom: 5px;
 45 }
 46 
 47 .comment-content-article {
 48   font-size: 14px;
 49   margin-bottom: 10px;
 50 }
 51 
 52 .comment-content-footer {
 53   color: #6d757a;
 54   font-size: 12px;
 55   margin-bottom: 15px;
 56 }
 57 
 58 .comment-content-footer span {
 59   margin-right: 10px;
 60 }
 61 
 62 
 63 .comment-send {
 64   position: relative;
 65   margin-bottom: 30px;
 66 }
 67 
 68 .comment-send-input {
 69   outline: none;
 70   box-sizing: border-box;
 71   -moz-box-sizing: border-box;
 72   transition: all 0.3s;
 73   position: absolute;
 74   top: 15px; left: 95px;
 75   resize: none;
 76   width: 605px;
 77   height: 65px;
 78   padding: 10px;
 79   border-radius: 4px;
 80   background: #f4f5f7;
 81   border: 1px solid #e5e9ef;
 82 }
 83 .comment-send-input:hover, .comment-send-input:active {
 84   background: #fff;
 85   color: #555;
 86 }
 87 
 88 .comment-send-button {
 89   border: none;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  transition: all 0.3s;
  position: absolute;
  top: 15px; right: 0px;
  width: 65px;
  height: 65px;
  border-radius: 4px;
  background: #1aa2d4;
  color: #fff;
  font-size: 14px;
  text-align: center;
}
.comment-send-button:hover {
  background: #1eb6e3;
}
